footer{
    background-color: #FAA27C;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 170px;
    padding-bottom: 35px;
    padding-left: 35px;
    padding-right: 25px;
}

.affiliates a{
    margin-right: 20px;
}



.socials a{
    font-size: 20px;
    color: white;
}

.affiliates a{
    margin-right: 20px;
}

.socials {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
  

/* Media query for smaller screens */
@media (max-width: 768px) {
    footer {
        padding-top: 80px; /* Adjust padding for smaller screens */
        padding-bottom: 20px; /* Adjust padding for smaller screens */
        padding-left: 20px; /* Adjust padding for smaller screens */
        padding-right: 20px; /* Adjust padding for smaller screens */
    }

    .affiliates a {
        margin-right: 10px; /* Adjust margin for smaller screens */
    }

    .affiliates img {
        width: 50px; /* Reduce image size for smaller screens */
        height: auto; /* Maintain aspect ratio */
    }

    .socials a {
        font-size: 12px; /* Reduce font size for smaller screens */
        margin-right: 10px; /* Adjust margin for smaller screens */
    }

}

/* Media query for smaller screens */
@media (max-width: 450px) {
    footer {
        padding-top: 50px; /* Adjust padding for smaller screens */
        padding-bottom: 20px; /* Adjust padding for smaller screens */
        padding-left: 20px; /* Adjust padding for smaller screens */
        padding-right: 10px; /* Adjust padding for smaller screens */
    }

    .affiliates a {
        margin-right: 5px; /* Adjust margin for smaller screens */
    }

    .affiliates img {
        width: 25px; /* Reduce image size for smaller screens */
        height: auto; /* Maintain aspect ratio */
    }

    .socials a {
        font-size: 9px; /* Reduce font size for smaller screens */
         
        
    }

}