.image1 {
    width: 319px;
    height: 319px;
}
.image2 {
    width: 314px;
    height: 418px;
}

.timelineContent {
    width: 641px;
    font-weight: 400;
    font-size: 24px;
    line-height: 29.05px;
}

.timelineIcon {
    position: absolute;
    width: 20px;
    height: 20px;
    border: 2px solid black;
    border-radius: 50%;
}

.timelineContainer {
    margin: 0 auto;
    display: grid;
    height: 1059px;
    width: 1297px;
    background-color: yellow;
    grid-template-columns: 2px 2fr 1fr;
    padding-left: 215px;
}

.timeline{
    background-color: black;
    width: 2px;
    height: 755px;
}
.timelineImages{
}
TimelineItems {
    position: relative;
}
