.root {
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    padding: 0%;
    position: absolute;
    overflow: hidden;
  
  }
  
  .navBar{
    position: relative;
    display: flex;
    justify-content: space-evenly;
    gap: 2.5em;
    font-weight: 500;
    font-size: 20px;
    background-color: white;
    padding: 1.2em;
    margin: 0;
    z-index: 1;
  }
  .KBKLOGO{
    width: 100%;
    background-color:#FF6B00;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 1;
  }
  .startBanner{
    margin: 0;
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 90vh;
    background-image: url(../images/kelly-sikkema-xLA0FyK2nyA-unsplash.jpg);
    background-size:cover;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    
  }
  
  .container {
    margin: 0;
    text-align: center;
  }
  
  .root-container {
    display: flex;
    flex-direction: column;
  }
  
  .headline {
    width: 40%;
    height: 30%;
  }
  
  .headline p {
    font-size: 50px;
    color: white;
    font-weight: 500;
    position: relative;
    z-index: 1;
  }
  
  .box {
    position:absolute;
    left: 60%;
    bottom:-33%;
    width: 100%;
    height: 160%;
    background-color: black;
    opacity: 20%;
    transform: rotate(10deg);
  }
  
  .mission {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: 70vh;
    z-index: 1;
    background-color: white;
    margin: 0;
    padding: 0;
    top: 0;
    gap: 0em;
  }
  
  .mission-title {
    width: 30vw;
  }
  
  .mission h1 {
    font-size: 3em;
    font-weight: 600;
  }
  
  .mission-box {
    width: 30vw;
    padding: 0;
  
  }
  
  .mission .mission-box p {
    font-size: 1.5em;
    margin-top: -1em;
  }
  
  .circle {
    width: 70vw;
    height: 90vh;
    position: absolute;
  
  }
  
  .mission-group {
    width: 70vw;
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .stats {
    width: 100%;
    height: 90vh;
    display: flex;
  }
  
  .stat {
    width: 33.333%;
    height: 100%;
    background-color: #FF6B00;
    display: flex;
    flex-direction: column;
  
  }
  
  #statA {
    background-color: #FF9E89;
  }
  
  #statB {
    background-color: #FB876E;
  
  }
  #statC {
    background-color: #FF7253;
    ;
  }
  
  .stat-title {
    color: white;
    font-size: 3em;
    margin-top: 15%;
    font-weight: 700;
  }
  .stat-content {
    padding: 5%;
    color: white;
    font-size: 1.45em;
  }
  .main-stat {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 60vh;
  }
  
  .main-stat-group {
    padding: 10%;
    
  }
  
  .main-stat-group p {
    font-size: 2em;
  }

  .gallery {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%; /* Adjust the width to fit the container */
    height: 927px;
    padding: 6%;
  }
  
  .gallery-header {
    padding-bottom: 20px;
  }
  
  .gallery-link {
    text-decoration: none;
    color: #5B5B5B;
    font-size: 40px;
  }
  
  .gallery .col{
    width: 50%;
  }
  
  .gallery .col-left-col{
    width: 50%;
  }

  .gallery .col-left-col img{
    width: 100%;
    height: 800px;

  }

  
  
  .gallery .image-gallery{
    display: flex;  
    flex-wrap: wrap;
    align-items: center;
  }
  
  .image-gallery img{
    width: 50%;
    height: 400px;
  }
  
  .howItWorks {
    height: 830px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Inter', sans-serif;
  }
  
  .howItWorks .col-text{
    width: 40%;
    text-align: left;
  }
  
  


  .title {
    margin-bottom: -5em ;
    position: relative;
    align-self: flex-start;  
    font-size: 20px;
    color: white;
  }


  .title #headerText{
    position: relative;
    left: 110%;
  }
  .col-text h1{
    font-size: 44px;
    margin-top: -37px;
  }
  
  .col-text h2{
    font-size: 50px;
    
  }
  .col-left p{
    font-size: 24px;
  }
  
  .col-text .kidsHeader2{
    padding-left: 183px !important;
  }
  .col-text .kidsHeader3{
    padding-left: 146px !important;
  }
  .col-text .kidsText{
    padding-left: 203px !important;
    padding-right: 97px;
  }
  .col-text .kidsText2{
    padding-left: 180px !important;
    padding-right: 97px;
  }
  
  .howItWorks .col-img{
    width: 50%;
    align-items: center;
    justify-content: center;
  }
  
  .howItWorks .col-img img{
    max-width: 660px;
    max-height: 326px;
  }
  
  .ourPartners {
    padding: 54px;
    padding-top: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10%;
  }
  
  .partners {
    flex: 0.5; 
    font-size: 30px;
    justify-content: left;
  }
  
  
  .partnersHeader {
    font-size: 2em;
    text-align: left;
    margin-bottom: 10px !important;
    
  }
  
  @media screen and (max-width: 800px) {
    .partnersHeader {
        font-size: 1.5em; /* Decrease font size for smaller screens */
    }
  }
  
  @media screen and (max-width: 1500px) {
    .partnersHeader {
        font-size: 1.75em; /* Further decrease font size for even smaller screens */
    }
  }

  .wrap-grid-container {

    width: 60%;
  }

  
  .wrap-grid {
    flex: 3; 
    display: flex;
  }
  
  .wrap-grid img{
    max-width: 90%;
    height: auto;
    width: auto\9; /* ie8 */
    padding-left:10px;
    padding-right:10px;
  }
  
  .a-container{
    justify-content: center;
    text-align: center;
    display: flex;
    padding-bottom: 60px;
  }
  
  .divider {
    width: 680px;
    height: 0px;
    border: 1px solid #7B7B7B;
    border-radius: 25px;
  }
  
  .partnersDivider {
    width: 240px;
    height: 0px;
    border: 1px solid #7B7B7B;
    border-radius: 25px;
    
  }